html,
body,
div,
a,
input {
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
}
body {
  min-width: 240px;
  max-width: 360px;
  color: #EEE;
  background-color: #444;
}
h1,
h2,
h3 {
  margin: 10px 0;
}
hr {
  color: rgba(0, 0, 0, 0);
}
.btn {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.btn.warning {
  background-color: #d3f33a;
}
.btn.error {
  background-color: #bc8c64;
}
/*
.hide {
  display: none;
}
*/
input[type="text"] {
  width: 100%;
  border-radius: 0;
  box-shadow: inset;
  text-align: left;
  font-size: 16px;
  outline: 0;
  border: none;
  border-bottom: 1px solid #f8e408;
  background-color: transparent;
  color: #EEE;
}
input[type="text"]:focus {
  border-bottom-color: #acd848;
}
.item {
  padding-left: 5px;
  padding-right: 5px;
}
.item:first-child {
  padding-left: 0;
}
.item:last-child {
  padding-right: 0;
}
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.row .item {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
.row .space {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.row .item-start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.row .item-center {
  -webkit-align-self: flex-center;
  align-self: flex-center;
}
.row .item-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.row .item-stretch {
  -webkit-align-self: stretch;
  align-self: stretch;
}
.flow {
  display: block;
}
.flow .item {
  float: left;
}
.flow:after {
  clear: both;
  content: "";
  display: block;
}
.alone:not(:last-child) {
  margin-bottom: 15px;
}
.clear {
  clear: both;
}
header {
  padding: 5px 10px;
}
header .title {
  width: 80%;
}
header .title h3 {
  margin: 5px 0;
}
header .operate {
  float: right;
}
header .operate .sync-all .btn {
  border-color: #c5f18d;
}
header .operate .sync-all .btn:hover,
header .operate .sync-all .btn.active {
  background-color: #c5f18d;
}
.overview .info .sitename {
  font-weight: 700;
}
.overview .info .method {
  color: #AAA;
}
.overview .operate .access .btn {
  border-color: #acd848;
}
.overview .operate .access .btn:hover,
.overview .operate .access .btn.active {
  background-color: #acd848;
}
.overview .operate .edit .btn {
  border-color: #f8e408;
}
.overview .operate .edit .btn:hover,
.overview .operate .edit .btn.active {
  background-color: #f8e408;
}
.overview .operate .enable .btn {
  border-color: #9bff0f;
}
.overview .operate .enable .btn:hover,
.overview .operate .enable .btn.active {
  background-color: #9bff0f;
}
.overview .operate .enable .btn.disable {
  border-color: #d3f33a;
}
.overview .operate .enable .btn.disable:hover {
  background-color: #d3f33a;
}
.details .paths .path .title {
  width: 100px;
  max-width: 100px;
}
.details .privates .private input {
  width: 150px;
}
.nav .nav-container {
  padding: 8px;
}
.nav .nav-container .link-brick {
  border: 1px #AAA solid;
  padding: 2px;
  margin: 2px;
}
.nav .nav-container .link-brick a.link {
  color: #EEE;
  text-decoration: none;
}
.nav .nav-container .link-brick a.link:visited,
.nav .nav-container .link-brick a.link:hover,
.nav .nav-container .link-brick a.link:active {
  color: #EEE;
}
.nav .nav-container .link-brick a.link:hover {
  text-decoration: underline;
}
.nav .nav-container .link-brick .remove {
  cursor: pointer;
}
.nav .nav-container .link-brick .remove:hover {
  color: #bc8c64;
}
.line-container {
  padding: 5px 10px;
}
