html,
body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  margin: 10px 0;
}
.btn {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.row .item {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.row .space {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
.row .item-start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.row .item-center {
  -webkit-align-self: flex-center;
  align-self: flex-center;
}
.row .item-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.row .item-stretch {
  -webkit-align-self: stretch;
  align-self: stretch;
}
header {
  padding: 5px 10px;
}
header .title {
  margin-bottom: 5px;
}
header .operate {
  float: right;
}
